.description-column {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .previous-button {
    margin-right: 1rem; /* Adjust as needed */
  }
  
  .next-button {
    margin-left: 1rem; /* Adjust as needed */
  }
  
  .dropdown-button {
    height: 0rem; /* Adjust as needed */
    size: small;
  }
  
  .dropdown-container {
    text-align: right; /* Aligns content to the right */
  }
  
  .pagination-container {
    text-align: center;
  }
  
  /* myComponent.css */
  .lower-button {
    padding-top: 10px; /* adjust this value as necessary */
  }
  
  .slds-is-sortable {
    cursor: pointer;
  }
  
  .slds-is-sortable:hover {
    background-color: #f3f3f3;
  }
  
  .description-column {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .dropdown-container {
    width: 50px;
  }