.mobile-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #FFFFFF; /* Ensure the background matches the items */
}

.mobile-item {
    border: 1px solid #D9DCE2; /* Full border for each item */
    padding: 1rem;
    margin-bottom: -1px; /* Negative margin to pull items up over the bottom border */
    width: 100%; /* Full width for mobile view */
}

.mobile-item:first-child {
    border-top: 1px solid #D9DCE2; /* Only the first item gets a top border */
}

.mobile-item:last-child {
    margin-bottom: 0; /* No negative margin on the last item to avoid pulling any content up */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    grid-gap: 0 1rem; /* No space between rows, 1rem space between columns */
    padding: 1rem;
    margin: auto;
    width: 100%;
    max-width: 900px; /* Maximum width */
    padding-top: 1rem; /* Top padding */
    background-color: white; /* Assuming you want a white background */
    box-shadow: none; /* Remove shadow for a flat design */
}

.aligned-title {
    padding-left: 1rem; /* Adjust this value to match the alignment with the grid items */
}

.grid-item {
    position: relative;
    background-color: #FFFFFF;
    border-left: 1px solid #D9DCE2;
    border-right: 1px solid #D9DCE2;
    border-bottom: 1px solid #D9DCE2;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.grid-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.grid-item a span {
    text-decoration: inherit;
}

.grid-item a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent; /* Creates the top part of the arrow */
    border-bottom: 5px solid transparent; /* Creates the bottom part of the arrow */
    border-left: 8px solid #808080; /* Darker arrow, adjust color as needed */
    position: absolute;
    right: 10px; /* Position to the right within the container */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Ensures it is perfectly centered */
    transition: color 0.3s; /* Smooth transition for hover effects, if needed */
}


.grid-item:hover a span {
    text-decoration: underline;
}

.grid-item:hover {
    background-color: #FAFAFA; /* Light grey background on hover */
}

.grid-item a:hover {
    text-decoration: none; /* Prevents underline on hover for the whole link */
}

.grid-item:nth-child(1) {
    border-top: 1px solid #D9DCE2;
    border-top-left-radius: 4px; /* Slight rounding */
    border-top-right-radius: 4px; /* Slight rounding */
}

.grid-item:nth-child(2) {
    border-top: 1px solid #D9DCE2;
    border-top-left-radius: 4px; /* Slight rounding */
    border-top-right-radius: 4px; /* Slight rounding */
}

.grid-item:nth-last-child(2) {
    border-bottom-right-radius: 4px; /* Slight rounding */
    border-bottom-left-radius: 4px; /* Slight rounding */
}

/* Bottom right corner rounded for the last item */
.grid-item:last-child {
    border-bottom-right-radius: 4px; /* Slight rounding */
    border-bottom-left-radius: 4px; /* Slight rounding */
}

.article {
    border-color: transparent !important;
}