.breadcrumb a {
    font-size: 12px;
    color: #0072D2;
    text-decoration: none;
    text-transform: uppercase; /* Makes all text uppercase */
}

.separator {
    color: Black; /* Ensures separator matches the color but isn't clickable */
    pointer-events: none; /* Prevents any interaction with the separator */
}

.breadcrumb a:hover {
    text-decoration: none !important;
}